---
import authors from "../../data/authors.json"
type Post = {
  date: number
  image: string
  author: string
  title: string
  description: string
}

let posts = Astro.fetchContent<Post>('../../pages/posts/*.md')

function formatDate(date) {
	return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}
---
<main>
  {posts.map(post => (
    <div>
      <div>{post.title}</div>

      <a href={`/authors/${post.author}`}>{authors[post.author].name}</a>

      <time datetime={post.date}>{formatDate(post.date)}</time>

      <p class="description">
			  {post.description}
			  <a class="link" href={post.url} aria-label={`Read ${post.title}`}>Read</a>
		</p>
    </div>
  ))}
</main>