---
import { slugify } from "@/slug"
import Pill from "./Pill.astro"

export interface Props {
  title: string
  description: string
  imageUrl: string
  tags: string[]
  createdAt: number

  isLCP?: boolean
}

const {
  title,
  description,
  createdAt,
  tags,
  imageUrl,
  isLCP = false,
} = Astro.props

const formattedDate = new Date(createdAt).toDateString()
const slug = `/posts/${slugify(title)}`
---

<a
  href={slug}
  class="swiper-slide flex min-h-[500px] w-full flex-col justify-end gap-4 rounded bg-gray-100 shadow-main"
  style="overflow: hidden;"
>
  <img
    src={imageUrl}
    alt={`Imagem de capa do post ${title}`}
    width={280}
    height={180}
    loading={isLCP ? "eager" : "lazy"}
    fetchpriority={isLCP ? "high" : "low"}
    class="absolute h-full w-full object-cover"
    style="z-index: -2;"
  />

  <div
    class="absolute h-full w-full"
    style="z-index: -1; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 87.5%);"
  >
  </div>

  <div class="flex flex-col gap-4 p-6">
    <h3 class="font-display text-slate-50">{title}</h3>

    <p class="font-base text-slate-50/50">
      {description}
    </p>

    <ul class="scroll-b flex w-full items-center gap-1 overflow-x-auto">
      {
        tags.map((tag) => (
          <li>
            <Pill label={tag} />
          </li>
        ))
      }
    </ul>

    <p class="font-bold text-accent-base">
      {formattedDate}
    </p>
  </div>
</a>

<style>
  img {
    transition: transform 150ms;
  }

  a:hover img {
    transform: scale(1.1);
  }
</style>
