---
import logo from "@/images/logo.png"
import { Image } from "@astrojs/image/components"

const pages = [
  {
    name: "Resenhas",
    slug: "/resenhas",
  },
  {
    name: "Sobre e Contato",
    slug: "/sobre",
  },
]
---

<header class="w-full border-b border-slate-600 bg-slate-50 px-6 py-3">
  <nav class="m-auto flex w-full max-w-5xl items-center justify-between">
    <div class="flex items-center gap-6">
      <button class="rounded p-1">
        <Image
          src={logo}
          alt="Livro aberto representando a logo da mystical reviews"
          width={24}
          height={24}
        />
      </button>
    </div>

    <ul class="hidden items-center gap-3 md:flex">
      {
        pages.map((page) => (
          <li>
            <a
              class="text-gray-800 transition-colors hover:text-gray-600"
              href={page.slug}
              data-nav
            >
              {page.name}
            </a>
          </li>
        ))
      }
    </ul>

    <!-- <div class="hidden items-center gap-3 md:flex">
      <label for={"search"} class="relative w-full">
        <input
          id="search"
          type="search"
          name="search"
          placeholder="Pesquise aqui"
          class={"w-full text-sm rounded border-2 border-slate-300 bg-slate-50 px-3 py-1 transition-colors placeholder:text-slate-400 focus:border-secondary-base focus:outline-none pl-[calc(12px+16px+8px)] h-[32px]"}
        />

        <div class="absolute bottom-0 left-3 top-0 my-auto h-max w-max">
          <Image src={search} width={16} height={16} alt="" />
        </div>
      </label>

      <button
        class="flex h-[32px] w-[32px] shrink-0 items-center justify-center rounded bg-accent-base text-gray-100 transition-colors hover:bg-accent-dark"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-[18px] w-[18px]"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
        </svg>
      </button>
    </div> -->

    <button class="block rounded bg-slate-50 p-1 hover:bg-slate-100 md:hidden">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.75 6.75H20.25M5.34653 12H21.8465M3.75 17.25H20.25"
          stroke="#475569"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </nav>
</header>
<style>
  .selected {
    @apply !text-accent-dark;
  }
</style>

<script defer>
  function main() {
    const pathname = location.pathname
    /** @type {HTMLAnchorElement[]} */
    const links = document.querySelectorAll("nav a[data-nav]")

    links.forEach((link) => {
      if (link.pathname === pathname) {
        link.classList.add("selected")
      }
    })
  }

  document.addEventListener("DOMContentLoaded", main)
</script>
